<html>
<p>The following pages and posts are tagged from the {{page.sectionName}} category.</p>

{% assign thisTag = page.sectionName %}
  {% for page in site.pages %}
    {% for tag in page.category %}
        {% if tag == thisTag %}
        <p><a href="{{ page.url | remove: "/" }}">{{page.title}}</a></p>
        {% endif %}
     {% endfor %}
   {% endfor %}

{% assign thisTag = page.sectionName %}
  {% for post in site.posts %}
    {% for tag in post.tags %}
        {% if tag == thisTag %}
        <p><a href="{{ post.url | remove: "/" }}">{{post.title}}</a></p>
        {% endif %}
      {% endfor %}
    {% endfor %}
</html>
