{% assign index_topics = site.data[page.topics].main_topics %}

{% for entry in index_topics %}
{% for folder in entry.folders %}
<li>
    <a>{{ folder.title }}<b class="caret"></b></a>
    <ul>
        {% for folderitem in folder.folderitems %}
        {% if folderitem.external_url %}
        <li><a href="{{folderitem.external_url}}" target="_blank">{{folderitem.title}}</a></li>
        {% elsif page.url contains folderitem.url %}
        <li><a href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
        {% else %}
        <li><a href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</li>
{% endfor %}
{% endfor %}
